<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script language="javascript" src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h1>Account - List</h1>
    <table>
        <tr>
            <th>cat_id:</th>
            <th>cat_title:</th>
           
        </tr>
        <% for ( var i = 0 ; i < data.length ; i++){ %>
            <tr>
                <td>
                    <%= data[i].cat_id  %>
                </td>
                <td>
                    <%= data[i].cat_title  %>
                </td>
            </tr>
            <% } %>
    </table>
    <input type="text">
    <button>Send</button>
  </body>
</html>
